<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <!-- 开启数据库和实体的驼峰命名转换       -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--   显示的开启全局缓存     -->
        <setting name="cacheEnabled" value="true"/>
    </settings>
    <!-- 实体类别名的配置    -->
    <typeAliases>
        <package name="cn.gsxt.module"/>
    </typeAliases>
    <mappers>
        <package name="cn.gsxt.mapper"/>
    </mappers>
</configuration>