<component name="ArtifactManager">
  <artifact type="war" name="springMvc-ajax:war">
    <output-path>$PROJECT_DIR$/springMvc-review/springMvc-ajax/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springMvc-ajax</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springMvc-ajax.war">
      <element id="artifact" artifact-name="springMvc-ajax:war exploded" />
    </root>
  </artifact>
</component>