<component name="ArtifactManager">
  <artifact type="war" name="spring_review:war">
    <output-path>$PROJECT_DIR$/spring_review/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring_review</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring_review.war">
      <element id="artifact" artifact-name="spring_review:war exploded" />
    </root>
  </artifact>
</component>