<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-mvc-gu-04:war exploded">
    <output-path>$PROJECT_DIR$/spring_aop_1/artifacts/spring_mvc_gu_04_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-mvc-gu-04/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-mvc-gu-04" />
        </element>
      </element>
    </root>
  </artifact>
</component>