<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
    <script src="js/vue-2.6.10.js"></script>
</head>
<body>
<div id="app">
    <button @click="show=!show">点我来进行切换</button><br>
    <h2 v-if="show">
        Hello Vue.js
    </h2>
   <ul>
       <li v-for="(user,index) in users" v-if="user.gender=='女'">
            <!--           -->
           {{user.index}}---{{user.name}}----{{user.age}}-----{{user.gender}}
       </li>
       <li v-else style="background-color: brown">
           <!--           -->
           {{user.index}}---{{user.name}}----{{user.age}}-----{{user.gender}}
       </li>
   </ul>
    <br>
    <ul>
        <li v-for="(value, key, index) in person">
            {{index}}----{{key}}-----{{value}}
        </li>
    </ul>
    <br>
    <h1 v-show="show">
        hello,lyy!
    </h1>

<h2>
num={{num}}
</h2></div>
<script type="text/javascript">
   var app = new Vue({
       el:"#app",
       data:{
           num:1,
            show:true,
            users:[
              {"name":"lyy","age":13,"gender":"女"},
              {"name":"lyy1","age":12,"gender":"男"},
              {"name":"lyy3","age":6,"gender":"女"},
          ],
           person:{"name":"lyy3","age":6,"gender":"女","address":"中国"}
       },
       methods:{
           //递减函数
           decrement(){
               this.num--;
           }
       }
   });
</script>
</body>
</html>