.web-box {
    /*margin-bottom: 1.0rem;*/
    background-color: #FFFFFF;
}

.web-name {
    margin: auto;
    width: 92%;
    position: relative;
}

.web-name h4 {
    padding-top: 1.8rem;
    margin-top: 1.4rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #333333;
}

.web {
    /*border: #000000 solid 1px;*/
}

.web li {
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: #333333;
    display: block;
    overflow: hidden;
    padding: 0.6% 0;
}

.web li span:first-child {
    color: #999999;
    font-size: 1.5rem;
    float: left;
}

.web li span:last-child {
    width: 70%;
    display: inline-block;
}

.web li:last-child {
    padding-bottom: 1.4rem;
}

/*箭头*/
.arrow-right {
    position: absolute;
    right: 0;
    width: 0.8rem;
    top: 5.2rem;
}
