*{
	margin: 0;
	padding: 0;
	font-style: "微软雅黑" 16px normal;
	list-style: none;
}
body{
	background:#ebebeb;
}


.mui-bar {
	position: fixed;
	z-index: 10;
	right: 0;
	left: 0;
	height: 44px;
	padding-right: 10px;
	padding-left: 10px;
	border-bottom: 0;
	background-color: #ac812e;
	-webkit-box-shadow: 0 0 1px #c2c2c2;
	box-shadow: 0 0 1px #c2c2c2;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

.mui-bar .mui-title {
	right: 40px;
	left: 40px;
	display: inline-block;
	overflow: hidden;
	width: auto;
	margin: 0;
	text-overflow: ellipsis
}

.mui-bar .mui-backdrop {
	background: 0 0
}

.mui-bar-header-secondary {
	top: 44px
}

.mui-bar-footer {
	bottom: 0
}

.mui-bar-footer-secondary {
	bottom: 44px
}

.mui-bar-footer-secondary-tab {
	bottom: 50px
}

.mui-bar-footer,.mui-bar-footer-secondary,.mui-bar-footer-secondary-tab {
	border-top: 0
}

.mui-bar-transparent {
	top: 0;
	background-color: rgba(247,247,247,0);
	-webkit-box-shadow: none;
	box-shadow: none
}

.mui-bar-nav {
	top: 0;
	-webkit-box-shadow: 0 1px 6px #ccc;
	box-shadow: 0 1px 6px #ccc
}

.mui-bar-nav~.mui-content .mui-anchor {
	display: block;
	visibility: hidden;
	height: 45px;
	margin-top: -45px
}

.mui-bar-nav.mui-bar .mui-icon {
	margin-right: -10px;
	margin-left: -10px;
	padding-right: 10px;
	padding-left: 10px
}

.mui-title {
	font-size: 17px;
	font-weight: 500;
	line-height: 44px;
	position: absolute;
	display: block;
	width: 100%;
	margin: 0 -10px;
	padding: 0;
	text-align: center;
	white-space: nowrap;
	color: #FFFFFF;
}

.mui-title a {
	color: inherit
}

.mui-bar-tab {
	bottom: 0;
	display: table;
	width: 100%;
	height: 50px;
	padding: 0;
	table-layout: fixed;
	border-top: 0;
	border-bottom: 0;
	-webkit-touch-callout: none
}

.mui-bar-tab .mui-tab-item {
	display: table-cell;
	overflow: hidden;
	width: 1%;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #929292;
}

.mui-bar-tab .mui-tab-item.mui-active {
	color: #007aff
}

.mui-bar-tab .mui-tab-item .mui-icon {
	top: 3px;
	width: 26px;
	height: 26px;
	padding-top: 0;
	padding-bottom: 0
}

.mui-bar-tab .mui-tab-item .mui-icon~.mui-tab-label {
	font-size: 11px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis
}

.mui-bar-tab .mui-tab-item .mui-icon:active {
	background: 0 0
}

.mui-focusin>.mui-bar-header-secondary,.mui-focusin>.mui-bar-nav {
	position: absolute
}

.mui-focusin>.mui-bar~.mui-content {
	padding-bottom: 0
}

.mui-bar .mui-btn {
	font-weight: 400;
	position: relative;
	z-index: 20;
	top: 7px;
	margin-top: 0;
	padding: 6px 12px 7px
}

.mui-bar .mui-btn.mui-pull-right {
	margin-left: 10px
}

.mui-bar .mui-btn.mui-pull-left {
	margin-right: 10px
}

.mui-bar .mui-btn-link {
	font-size: 16px;
	line-height: 44px;
	top: 0;
	padding: 0;
	color: #007aff;
	border: 0
}

.mui-bar .mui-btn-link.mui-active,.mui-bar .mui-btn-link:active {
	color: #0062cc
}

.mui-bar .mui-btn-block {
	font-size: 16px;
	top: 6px;
	margin-bottom: 0;
	padding: 5px 0
}

.mui-bar .mui-btn-nav.mui-pull-left {
	margin-left: -5px
}

.mui-bar .mui-btn-nav.mui-pull-left .mui-icon-left-nav {
	margin-right: -3px
}

.mui-bar .mui-btn-nav.mui-pull-right {
	margin-right: -5px
}

.mui-bar .mui-btn-nav.mui-pull-right .mui-icon-right-nav {
	margin-left: -3px
}

.mui-bar .mui-btn-nav:active {
	opacity: .3
}

.mui-bar .mui-icon {
	font-size: 24px;
	position: relative;
	z-index: 20;
	padding-top: 10px;
	padding-bottom: 10px
}

.mui-bar .mui-icon:active {
	opacity: .3
}

.mui-bar .mui-btn .mui-icon {
	top: 1px;
	margin: 0;
	padding: 0
}

.mui-bar .mui-title .mui-icon {
	margin: 0;
	padding: 0
}

.mui-bar .mui-title .mui-icon.mui-icon-caret {
	top: 4px;
	margin-left: -5px
}

.mui-bar input[type=search] {
	height: 29px;
	margin: 6px 0
}

.mui-bar .mui-input-row .mui-btn {
	padding: 12px 10px
}

.mui-bar .mui-search:before {
	margin-top: -10px
}

.mui-bar .mui-input-row .mui-input-clear~.mui-icon-clear,.mui-bar .mui-input-row .mui-input-speech~.mui-icon-speech {
	top: 0;
	right: 12px
}

.mui-bar.mui-bar-header-secondary .mui-input-row .mui-input-clear~.mui-icon-clear,.mui-bar.mui-bar-header-secondary .mui-input-row .mui-input-speech~.mui-icon-speech {
	top: 0;
	right: 0
}

.mui-bar .mui-segmented-control {
	top: 7px;
	width: auto;
	margin: 0 auto
}
.mui-bar-nav.mui-bar .mui-icon {
    margin-right: -10px;
    margin-left: -10px;
    padding-right: 10px;
    padding-left: 10px;
}
.mui-bar .mui-icon {
    font-size: 24px;
    position: relative;
    z-index: 20;
    padding-top: 10px;
    padding-bottom: 10px;
}
.mui-icon {
    font-family: Muiicons;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}
.mui-pull-left {
    float: left;
}
.mui-bar.mui-bar-header-secondary .mui-segmented-control {
	top: 0
}
.mui-icon-back:before,.mui-icon-left-nav:before {
	content: url(../img/arrow-left.png);
}

/*导航*/
#sure{
	display: inline-block;
	color: #FFFFFF;
	float: right;
}
#sure a{
	color: #FFFFFF;
	line-height: 44px;
	font-size:16px;
}
			.mui-toast-container {
				line-height: 17px;
				position: fixed;
				z-index: 9999;
				bottom: 50px;
				left: 50%;
				-webkit-transition: opacity .3s;
				transition: opacity .3s;
				-webkit-transform: translate(-50%,0);
				transform: translate(-50%,0);
				opacity: 0
			}
			
			.mui-toast-container.mui-active {
				opacity: .9
			}
			
			.mui-toast-message {
				font-size: 14px;
				padding: 10px 25px;
				text-align: center;
				color: #fff;
				border-radius: 6px;
				background-color: #323232
			}





select{
	border: none;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
}
input{
	border: none;
}
input:focus{
	outline: none;
}
select:focus{
	outline: none;
}
.topTitle{
	text-align: center;
	height: 48px;
	background-color: #ac812e;
	line-height: 48px;
	color: #fff;
	font-size: 18px;
	font-weight: normal;
	position: relative;
}
.topTitle a.back{
	position: absolute;
	left: 16px;
	top: 6px;
}
a.confirmBtn{
	position: absolute;
	right: 16px;
	font-size: 14px;
}
.baseInfo,.personInfo{
	background: #fff;
}
.baseInfo h2,.personInfo h2{
	font-size: 17px;
	font-weight: normal;
	text-indent: 16px;
	color: #333;
	line-height: 50px;
	border-bottom: 1px solid #d9d9d9;
}
.baseInfo ul{
	padding-left: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	
} 
.baseInfo ul li{
	line-height: 40px;
	font-size: 14px;
	color: #999;
}.baseInfo ul li span{
	color: #333;
	margin-left: 5px;
}
.personInfo{
	margin-top: 10px;
}
span.red{
	color: red;
}
.personInfo p{	
	padding-left: 16px;
	padding-top: 12px;
	padding-bottom: 12px;
	background: url(../img/arrowright.png) no-repeat right center;
	border-bottom: 1px solid #D9D9D9;
}
.personInfo p select{
	float: right;
	text-align: right;
	direction: rtl;
	display: block;
	padding-right: 36px;
	padding-top:2px;
	position: relative;
	background: none;	
	font-size: 14px;
}
.personInfo p select option{
	height: 100%;
	
}
.personInfo p select img{
	position: absolute;
	right: 0px
	top:0;
}
.personInfo ul{	
	background: #fff;
}
.personInfo ul.tabs{
	display: none;
}
.personInfo ul li{
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom: 1px solid #D9D9D9;
	padding-left: 16px;
	padding-right: 16px;
}
.personInfo ul li input{
	text-align: right;
	float: right;
	padding-top: 4px;
	font-size:14px;
}
.personInfo ul li a{
	text-align: right;
	float: right;
	text-decoration: none;
	color: #3399ff;
}
/*.personInfo ul div {
	padding-bottom: 20px;
}*/
.personInfo ul div p{
	padding-left: 26px;
	background: none;
	border: none;
	padding-bottom: 0;
}
.personInfo ul div p input{
	margin-right: 10px;
}
.weui-uploader__input-box{
	margin-bottom: 0px;
}
