.web-box {
    margin-bottom: 0.5rem;
    background-color: #FFFFFF;
}

.web-box a {
    color: #333333;
}

.web-box h4 {
    display: inline-block;
    line-height: 3.8rem;
    margin-left: 4%;
    font-weight: bold;
    font-size: 1.6rem;
    vertical-align: bottom;
}

.contribution-arrow-right {
    /*border: #000000 solid 1px;*/
    width: 2.0rem;
    height: 2.4rem;
    position: absolute;
    right: 4%;
    margin-top: 1.3rem;
}

.web-name {
    margin: auto;
    width: 92%;
    position: relative;
}

.web {
    /*border: #000000 solid 1px;*/
    padding-top: 1.8rem;
}

.web li {
    font-size: 1.5rem;
    line-height: 3.0rem;
}

.web li span:first-child {
    color: #999999;
    font-size: 1.5rem;
}

.web li:last-child {
    padding-bottom: 1.4rem;
    overflow: hidden;
}

/*箭头*/
.arrow-right {
    position: absolute;
    right: 0;
    width: 0.8rem;
    top: 14rem;
}

.arrow-right-01 {
    position: absolute;
    right: 0;
    width: 0.8rem;
    top: 10rem;
}

.right-state {
    float: right;
}

.sss .searchBoxs {
    width: 100%;
    height: 40px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    background: #fff;
    overflow: hidden;
    padding-left: 10px;
}

.sss .searchBoxs input {
    border: none;
    float: left;
    width: 77%;
    line-height: 100%;
}

.sss .searchBoxs img {
    float: left;
    width: 6%;
    padding-top: 10px;
}

.sss .searchBoxs a {
    float: left;
    width: 17%;
    height: 100%;
    /*	background: #ac812e;*/
    background: #ac812e;
    color: #fff;
    text-align: center;
    line-height: 40px;
}