body{
	background: #FFFFFF;
}
.web-box{
	/*margin-bottom: 1.0rem;*/
	background-color: #FFFFFF;
}
/*商标*/
#com-logo-box{
	background: #F2F2F2;
	text-align: center;
}
#com-logo-box span{
	display: inline-block;
	width: 10.0rem;
	margin: 4% auto;
}
.web-name{
	margin: auto;
	width: 92%;
	position: relative;
}
.web{
	margin-top:4%;
}
.web p{
	font-size: 1.5rem;
}
.web li{
	font-size:1.5rem;
	line-height: 2.4rem;
	color:#333333;
	display: block;
	overflow: hidden;
	padding: 0.6% 0;
}
.web li span:first-child{
	color: #999999;
	font-size:1.5rem;
	float: left;
}
.web li span:last-child{
	display: inline-block;
}
.web li:last-child{
	padding-bottom: 1.4rem;
	overflow: hidden;
}
/*项目*/
.xiangmu p{
	color: #333333;
	line-height: 1.2rem;
}